$yd_green:#58ae33; //主题色
$yd_orange:#ffb32f; //主配色
$yd_black:#252525; //主字体黑色
$yd_bg_gray:#eeeded;
$yd_border_gray:#ececec;
$yd_gray:#9f9f9f;
$yd_white:#fff;
$yd_bOrange:#E57C12;
$yd_black_l_1:lighten($yd_black, 30%);
$yd_gray_l_1:lighten($yd_gray, 10%);